In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('mobile_game_inapp_purchases.csv')

In [3]:
df

,UserID,Age,Gender,Country,Device,GameGenre,SessionCount,AverageSessionLength,SpendingSegment,InAppPurchaseAmount,FirstPurchaseDaysAfterInstall,PaymentMethod,LastPurchaseDate
0,c9889ab0-9cfc-4a75-acd9-5eab1df0015c,49.0,Male,Norway,Android,Battle Royale,9,12.83,Minnow,11.40,28.0,Apple Pay,2025-03-19
1,7c9e413c-ecca-45f2-a780-2826a07952a2,15.0,Male,Switzerland,iOS,Action RPG,11,19.39,Minnow,6.37,18.0,Debit Card,2025-06-08
2,fd61e419-1a92-4f43-a8c7-135842ad328a,23.0,Male,China,Android,Fighting,9,8.87,Minnow,15.81,30.0,Apple Pay,2025-06-02
3,bdb7f6d1-ff9a-468c-afe7-43f32a94293e,31.0,Male,Mexico,Android,Racing,12,19.56,Minnow,13.49,9.0,Debit Card,2025-04-01
4,aa7eec14-4846-47b9-b879-9c98038cda04,37.0,Female,India,Android,Battle Royale,10,15.23,Minnow,10.86,15.0,Paypal,2025-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3019,29f9fea9-591d-4e9f-a662-958655d3eb4a,19.0,Female,Iran,Android,Fighting,7,34.81,Minnow,12.48,16.0,Google Pay,2025-05-28
3020,c906eb00-fb33-4bf2-97a4-311634cd0d7a,48.0,Male,Switzerland,iOS,Adventure,9,19.45,Minnow,14.77,14.0,Carrier Billing,2025-07-25
3021,26e17717-ebec-42a9-aae2-2eff66888119,44.0,Male,France,Android,Card,15,20.54,Minnow,16.69,24.0,Gift Card,2025-01-25
3022,4d6e2bfb-cb11-411a-942c-4fb7a4832088,45.0,Male,Sweden,iOS,Fighting,8,14.48,Minnow,17.29,15.0,Paypal,2025-05-07
3023,37935b2e-9b5d-4a30-bf0f-751d105e31e3,22.0,Male,Egypt,Android,Adventure,10,28.54,Minnow,4.11,30.0,Carrier Billing,2025-07-06

In [4]:
df.shape

(3024, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024 entries, 0 to 3023
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   UserID                         3024 non-null   object
 1   Age                            2964 non-null   float64
 2   Gender                         2964 non-null   object
 3   Country                        2964 non-null   object
 4   Device                         2964 non-null   object
 5   GameGenre                      2964 non-null   object
 6   SessionCount                   3024 non-null   int64
 7   AverageSessionLength           3024 non-null   float64
 8   SpendingSegment                3024 non-null   object
 9   InAppPurchaseAmount            2888 non-null   float64
 10  FirstPurchaseDaysAfterInstall  2888 non-null   float64
 11  PaymentMethod                  2888 non-null   object
 12  LastPurchaseDate               2888 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 307.2+ KB

In [6]:
df.isnull().sum()

UserID                             0
Age                               60
Gender                            60
Country                           60
Device                            60
GameGenre                         60
SessionCount                       0
AverageSessionLength               0
SpendingSegment                    0
InAppPurchaseAmount              136
FirstPurchaseDaysAfterInstall    136
PaymentMethod                    136
LastPurchaseDate                 136
dtype: int64

In [7]:
df.columns

Index(['UserID', 'Age', 'Gender', 'Country', 'Device', 'GameGenre',
       'SessionCount', 'AverageSessionLength', 'SpendingSegment',
       'InAppPurchaseAmount', 'FirstPurchaseDaysAfterInstall', 'PaymentMethod',
       'LastPurchaseDate'],
      dtype='object')

In [8]:
df.head(10)

,UserID,Age,Gender,Country,Device,GameGenre,SessionCount,AverageSessionLength,SpendingSegment,InAppPurchaseAmount,FirstPurchaseDaysAfterInstall,PaymentMethod,LastPurchaseDate
0,c9889ab0-9cfc-4a75-acd9-5eab1df0015c,49.0,Male,Norway,Android,Battle Royale,9,12.83,Minnow,11.40,28.0,Apple Pay,2025-03-19
1,7c9e413c-ecca-45f2-a780-2826a07952a2,15.0,Male,Switzerland,iOS,Action RPG,11,19.39,Minnow,6.37,18.0,Debit Card,2025-06-08
2,fd61e419-1a92-4f43-a8c7-135842ad328a,23.0,Male,China,Android,Fighting,9,8.87,Minnow,15.81,30.0,Apple Pay,2025-06-02
3,bdb7f6d1-ff9a-468c-afe7-43f32a94293e,31.0,Male,Mexico,Android,Racing,12,19.56,Minnow,13.49,9.0,Debit Card,2025-04-01
4,aa7eec14-4846-47b9-b879-9c98038cda04,37.0,Female,India,Android,Battle Royale,10,15.23,Minnow,10.86,15.0,Paypal,2025-05-05
5,992232c1-a563-4986-aa8b-b70d687d374f,38.0,Female,China,Android,Fighting,16,25.97,Dolphin,150.51,28.0,Google Pay,2025-05-05
6,702bafd0-9a08-4269-801e-faf32f9f3ca5,20.0,Female,Italy,Android,Simulation,9,10.98,Whale,608.21,24.0,Debit Card,2025-06-04
7,fc470ea9-111f-4637-a9ff-7162d81e2ec3,34.0,Female,Denmark,iOS,NaN,15,5.06,Minnow,19.17,30.0,Gift Card,2025-04-26
8,9b2efc1e-cd4b-48ab-b893-438d57855efa,38.0,Male,Japan,Android,Action RPG,10,21.82,Minnow,11.52,1.0,Paypal,2025-04-08
9,25723b60-ea5b-4aff-9f23-97fdf5e98c58,46.0,Male,Russia,iOS,Battle Royale,18,16.36,Minnow,7.76,19.0,Google Pay,2025-02-03

In [9]:
df.columns

Index(['UserID', 'Age', 'Gender', 'Country', 'Device', 'GameGenre',
       'SessionCount', 'AverageSessionLength', 'SpendingSegment',
       'InAppPurchaseAmount', 'FirstPurchaseDaysAfterInstall', 'PaymentMethod',
       'LastPurchaseDate'],
      dtype='object')

In [10]:
df2=df.drop(['UserID','Gender','Country','SessionCount','AverageSessionLength','PaymentMethod'],axis=1).copy()

In [11]:
df2

,Age,Device,GameGenre,SpendingSegment,InAppPurchaseAmount,FirstPurchaseDaysAfterInstall,LastPurchaseDate
0,49.0,Android,Battle Royale,Minnow,11.40,28.0,2025-03-19
1,15.0,iOS,Action RPG,Minnow,6.37,18.0,2025-06-08
2,23.0,Android,Fighting,Minnow,15.81,30.0,2025-06-02
3,31.0,Android,Racing,Minnow,13.49,9.0,2025-04-01
4,37.0,Android,Battle Royale,Minnow,10.86,15.0,2025-05-05
...,...,...,...,...,...,...,...
3019,19.0,Android,Fighting,Minnow,12.48,16.0,2025-05-28
3020,48.0,iOS,Adventure,Minnow,14.77,14.0,2025-07-25
3021,44.0,Android,Card,Minnow,16.69,24.0,2025-01-25
3022,45.0,iOS,Fighting,Minnow,17.29,15.0,2025-05-07
3023,22.0,Android,Adventure,Minnow,4.11,30.0,2025-07-06

In [12]:
map_spending={
    'Minnow':0,
    'Dolphin':1,
    'Whale':2
}
df2['SpendingSegment']=df2['SpendingSegment'].map(map_spending)

In [13]:
df2.head()

,Age,Device,GameGenre,SpendingSegment,InAppPurchaseAmount,FirstPurchaseDaysAfterInstall,LastPurchaseDate
0,49.0,Android,Battle Royale,0,11.40,28.0,2025-03-19
1,15.0,iOS,Action RPG,0,6.37,18.0,2025-06-08
2,23.0,Android,Fighting,0,15.81,30.0,2025-06-02
3,31.0,Android,Racing,0,13.49,9.0,2025-04-01
4,37.0,Android,Battle Royale,0,10.86,15.0,2025-05-05

In [14]:
df2.drop('LastPurchaseDate',axis=1,inplace=True)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024 entries, 0 to 3023
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            2964 non-null   float64
 1   Device                         2964 non-null   object
 2   GameGenre                      2964 non-null   object
 3   SpendingSegment                3024 non-null   int64
 4   InAppPurchaseAmount            2888 non-null   float64
 5   FirstPurchaseDaysAfterInstall  2888 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 141.9+ KB

In [16]:
df2.isna().sum()

Age                               60
Device                            60
GameGenre                         60
SpendingSegment                    0
InAppPurchaseAmount              136
FirstPurchaseDaysAfterInstall    136
dtype: int64

In [17]:
df2['Age'].fillna('Mean',inplace=True)

C:\Users\giris\AppData\Local\Temp\ipykernel_3800\1633721009.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Age'].fillna('Mean',inplace=True)
C:\Users\giris\AppData\Local\Temp\ipykernel_3800\1633721009.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Mean' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2['Age'].fillna('Mean',inplace=True)

In [18]:
df2['Device'].unique()

array(['Android', 'iOS', nan], dtype=object)

In [19]:
Device_map={
    'Android':0,
    'IOS':1
}
df2['Device']=df2['Device'].map(Device_map)

In [20]:
df2['Device'].fillna(0.0,inplace=True)

C:\Users\giris\AppData\Local\Temp\ipykernel_3800\2524885580.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Device'].fillna(0.0,inplace=True)

In [21]:
df2['Device']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3019    0.0
3020    0.0
3021    0.0
3022    0.0
3023    0.0
Name: Device, Length: 3024, dtype: float64

In [22]:
df2.isna().sum()

Age                                0
Device                             0
GameGenre                         60
SpendingSegment                    0
InAppPurchaseAmount              136
FirstPurchaseDaysAfterInstall    136
dtype: int64

In [23]:
df2['GameGenre'].unique()

array(['Battle Royale', 'Action RPG', 'Fighting', 'Racing', 'Simulation',
       nan, 'MMORPG', 'Role Playing', 'Sports', 'Card', 'Sandbox',
       'Puzzle', 'Strategy', 'Casual', 'Adventure', 'MOBA'], dtype=object)

In [24]:
df

,UserID,Age,Gender,Country,Device,GameGenre,SessionCount,AverageSessionLength,SpendingSegment,InAppPurchaseAmount,FirstPurchaseDaysAfterInstall,PaymentMethod,LastPurchaseDate
0,c9889ab0-9cfc-4a75-acd9-5eab1df0015c,49.0,Male,Norway,Android,Battle Royale,9,12.83,Minnow,11.40,28.0,Apple Pay,2025-03-19
1,7c9e413c-ecca-45f2-a780-2826a07952a2,15.0,Male,Switzerland,iOS,Action RPG,11,19.39,Minnow,6.37,18.0,Debit Card,2025-06-08
2,fd61e419-1a92-4f43-a8c7-135842ad328a,23.0,Male,China,Android,Fighting,9,8.87,Minnow,15.81,30.0,Apple Pay,2025-06-02
3,bdb7f6d1-ff9a-468c-afe7-43f32a94293e,31.0,Male,Mexico,Android,Racing,12,19.56,Minnow,13.49,9.0,Debit Card,2025-04-01
4,aa7eec14-4846-47b9-b879-9c98038cda04,37.0,Female,India,Android,Battle Royale,10,15.23,Minnow,10.86,15.0,Paypal,2025-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3019,29f9fea9-591d-4e9f-a662-958655d3eb4a,19.0,Female,Iran,Android,Fighting,7,34.81,Minnow,12.48,16.0,Google Pay,2025-05-28
3020,c906eb00-fb33-4bf2-97a4-311634cd0d7a,48.0,Male,Switzerland,iOS,Adventure,9,19.45,Minnow,14.77,14.0,Carrier Billing,2025-07-25
3021,26e17717-ebec-42a9-aae2-2eff66888119,44.0,Male,France,Android,Card,15,20.54,Minnow,16.69,24.0,Gift Card,2025-01-25
3022,4d6e2bfb-cb11-411a-942c-4fb7a4832088,45.0,Male,Sweden,iOS,Fighting,8,14.48,Minnow,17.29,15.0,Paypal,2025-05-07
3023,37935b2e-9b5d-4a30-bf0f-751d105e31e3,22.0,Male,Egypt,Android,Adventure,10,28.54,Minnow,4.11,30.0,Carrier Billing,2025-07-06

In [25]:
df2.columns

Index(['Age', 'Device', 'GameGenre', 'SpendingSegment', 'InAppPurchaseAmount',
       'FirstPurchaseDaysAfterInstall'],
      dtype='object')

In [26]:
df2.drop(['GameGenre','FirstPurchaseDaysAfterInstall','InAppPurchaseAmount'],axis=1,inplace=True)

In [27]:
df2.head()

    Age  Device  SpendingSegment
0  49.0     0.0                0
1  15.0     0.0                0
2  23.0     0.0                0
3  31.0     0.0                0
4  37.0     0.0                0

In [28]:
df2.isna().sum()

Age                0
Device             0
SpendingSegment    0
dtype: int64

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024 entries, 0 to 3023
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              3024 non-null   object
 1   Device           3024 non-null   float64
 2   SpendingSegment  3024 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 71.0+ KB

In [30]:
df2['Age']

0       49.0
1       15.0
2       23.0
3       31.0
4       37.0
        ...
3019    19.0
3020    48.0
3021    44.0
3022    45.0
3023    22.0
Name: Age, Length: 3024, dtype: object

In [31]:
df2.shape

(3024, 3)

In [32]:
df['Age'].unique()

array([49., 15., 23., 31., 37., 38., 20., 34., 46., 29., 30., 24., 21.,
       35., 45., 14., 47., 54., 52., 25., 51., 18., nan, 32., 43., 17.,
       19., 16., 36., 48., 50., 33., 44., 40., 26., 13., 42., 28., 39.,
       22., 53., 27., 41.])

In [33]:
mean=df['Age'].mean()

In [34]:
df2['Age'].fillna(mean,inplace=True)

In [35]:
df2['Age'].unique()

array([49.0, 15.0, 23.0, 31.0, 37.0, 38.0, 20.0, 34.0, 46.0, 29.0, 30.0,
       24.0, 21.0, 35.0, 45.0, 14.0, 47.0, 54.0, 52.0, 25.0, 51.0, 18.0,
       'Mean', 32.0, 43.0, 17.0, 19.0, 16.0, 36.0, 48.0, 50.0, 33.0, 44.0,
       40.0, 26.0, 13.0, 42.0, 28.0, 39.0, 22.0, 53.0, 27.0, 41.0],
      dtype=object)